body {
    font-family: "Calibri", "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
       }

p1 {
    font-family: "Calibri", "Trebuchet MS", Helvetica,sans-serif;
    font-size: 20px;
    text-align: center;
}

div {
    font-family: "Calibri", "Trebuchet MS", Helvetica,sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
  }

 #addButton {
    background: rgb(62, 167, 111);
    height: 25px;
    width: 50px;
    border-radius: 8px;
    font-weight: bold;
    color: white
}

#doneButton {
    display: inline;
    background-image: url(images/imgDoneButton.PNG);
    height: 15px;
    width: 15px;
    background-size: cover;
}

#deleteButton {  
    display: inline;
    background-image: url(images/imgDeleteButton.PNG);
    height: 15px;
    width: 15px;
    background-size: cover;
}
