h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

p {text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

form {
  text-align: center;
  margin-top: 7%;
}

table {
  text-align: center;
  margin-top: 5%;
  width: 50%;
  margin-left: 28%;
}

td {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding: 15px;
  text-align: center;
}

th {
  padding: 15px;
  text-align: center;
}

tr {
  text-align: center;
  width: 80%;
}

tbody tr:nth-child(even) {
  text-align: center;
  background: rgb(232, 243, 233);
}

#add-btn {
  background: rgb(76, 145, 112);
  color: white;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
}

#delete-btn {
  background: rgb(138, 11, 28);
  color: white;
  font-weight: bold;
  padding: 7px;
  cursor: pointer;
  border-radius: 8px;
}
